# Auto detect text files and perform LF normalization
* text=auto
shark.spp filter=lfs diff=lfs merge=lfs -text
frennedy.spp filter=lfs diff=lfs merge=lfs -text
kanagroo.spp filter=lfs diff=lfs merge=lfs -text
wolf.spp filter=lfs diff=lfs merge=lfs -text
